/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Header Styling */
  header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0;
    position: fixed;
    top: 0;
    z-index: 1000;
  }
  
  /* Navbar Container */
  .navbar {
    width: 90%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Logo */
  .logo img {
    width: 50px; /* Taille du logo */
    height: auto;
  }
  
  /* Navigation Links */
  .nav-links {
    list-style: none;
    display: flex;
    gap: 2rem; /* Espacement entre les liens */
  }
  
  .nav-links li {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #ffffff; /* Couleur des liens */
    font-weight: 500;
    transition: color 0.3s ease;
  }
  
  .nav-links a:hover {
    color: #6ec7e0; /* Couleur au survol */
  }
  

body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    background: url('../images/bc.jpg') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #ffffff;
    overflow: hidden;
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.1rem;
}

.text {
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
}

.fixed {
    color: #6ec7e0;
    font-family: "Silkscreen", sans-serif;
    font-weight: 700;
}

#changing-word {
    color: #6ec7e0;
    font-family: "Silkscreen", sans-serif;
    font-weight: 700;
    display: inline-block;
    white-space: nowrap;
    font-size: inherit;
}

#name {
    font-size: 1.5rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #ffffff;
    margin-top: 0.3rem;
}

#job-title {
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 0.3rem;
    text-shadow: 2px 2px 5px rgb(254, 254, 254);
}

#more-info-btn {
    padding: 10px 20px;
    font-size: 1rem;
    font-family: "Silkscreen", sans-serif;
    text-transform: uppercase;
    color: #6ec7e0;
    background-color: transparent;
    border: 2px solid #6ec7e0;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
    transition: background-color 0.3s ease, transform 0.3s ease, color 0.3s ease;
}

#more-info-btn:hover {
    background-color: #6ec7e0;
    color: #000000;
    transform: scale(1.05);
}
/* Footer Styling */
footer {
  position: fixed;
  bottom: 0;
  color: #ffffff;
  padding: 1.5rem 0;
  text-align: center;
  margin-top: auto;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.footer-container p {
  font-size: 0.9rem;
  margin-bottom: 1rem;
  font-family: "Poppins", sans-serif;
}

.social-links {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  padding: 0;
}

.social-links li {
  display: inline-block;
}

.social-links a img {
  width: 30px;
  height: auto;
 
}

.social-links a:hover img {
  filter: invert(70%) sepia(1) saturate(500%) hue-rotate(180deg);
  transform: scale(1.1);
}
#about-me  h1{
  top: 10px;
}
#about-me {
  text-align: center;
  margin-top: 50px; 
}

#about-me-image {
  display: block;
  margin: 20px auto;
  width: 200px; /* Taille réduite de l'image */
  height: auto; /* Conserve les proportions de l'image */
  border: none;
}
